@import "../../../assets/mixins.scss";

.work {
  max-width: unset;
  padding: 0;
  transition: 0.5sec all ease;
  div {
    max-width: $maxScreen;
    margin: 0 auto;
    position: relative;
    a {
      width: 100%;
      z-index: 1;
      display: block;
      position: relative;
      padding: 1rem 0;
      position: relative;
      transition: 0.5s all ease !important;
    }
    h1 {
      font-size: xx-large;
      padding: 0;
      margin-bottom: 0.1rem;
    }
    p {
      margin: 0;
    }
    span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 0;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center !important;
      transition: 1s all ease !important;
    }
  }
  &:hover {
    background: rgba(255, 255, 255, 0.404);
    transition: 0.5sec all ease;
    a {
      background: rgba(255, 255, 255, 0.2);
      transition: 0.5s all ease !important;
    }
    span {
      opacity: 0.1;
      transition: 1s all ease !important;
    }
  }
}
