// colors
$highlight: #8bc34a;
$text: #171717;
$darkBg: #1c2833;

// fonts
@font-face {
  font-family: "producSansRegular";
  src: url("./fonts/ProductSansRegular.eot");
  src: url("./fonts/ProductSansRegular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProductSansRegular.woff") format("woff"),
    url("./fonts/ProductSansRegular.ttf") format("truetype"),
    url("./fonts/ProductSansRegular.svg#ProductSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "producSansBold";
  src: url("./fonts/ProductSansBold.eot");
  src: url("./fonts/ProductSansBold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/ProductSansBold.woff") format("woff"),
    url("./fonts/ProductSansBold.ttf") format("truetype"),
    url("./fonts/ProductSansBold.svg#ProductSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

$stack: "producSansRegular", sans-serif;
$head: "producSansBold", sans-serif;

// queries
$maxScreen: 800px;

// mixins

@mixin separator($width, $color, $margin) {
  &:after {
    content: "";
    display: block;
    width: $width;
    height: 1px;
    background: $color;
    margin: $margin;
  }
}

@mixin header() {
  max-width: $maxScreen;
  margin: 0 auto;
  padding: 0 1rem;
  h1 {
    font-size: 2.5em;
    span {
      text-transform: capitalize;
      color: $highlight;
    }
  }
  p {
    font-size: 1.45em;
    max-width: 80%;
    span {
      color: $highlight;
      text-decoration: underline;
    }
  }
  @include separator(100%, lighten($text, 80%), 2rem 0 1rem);
}

@mixin loadStrip() {
  border-bottom: solid 1px lightgrey;
  padding: 15px 10px;
  display: flex;
  flex-wrap: wrap;

  .line {
    display: block;
    // float: left;
    height: 12px;
    width: 100%;
    animation: skeleton-loader-shimmer 1s linear infinite forwards;
    background: #eee;
    background-image: gradient(
      linear,
      left center,
      right center,
      from(#333),
      color-stop(0.2, #333),
      color-stop(0.4, #333),
      to(#333)
    );
    background-image: linear-gradient(
      to right,
      #eee 0%,
      #ccc 20%,
      #ddd 40%,
      #eee 100%
    );
    background-repeat: no-repeat;
    // background-size: 800px 104px;
    border-radius: 3px;
    &:first-child {
      height: 2em;
    }

    &:not(:first-child) {
      width: 100%;
      margin: 10px 10px 0 0;
    }
    &:nth-child(2) {
      width: 77%;
      clear: both;
    }
    &:nth-child(3) {
      width: 20%;
    }
  }
}

@keyframes skeleton-loader-shimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}
