@import "../src/assets/mixins.scss";

h1 {
  font-family: $head;
  font-size: large;
}

p {
  font-size: medium;
  font-family: $stack;
  color: lighten($text, 40%);
}

a {
  color: $highlight;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  background: lighten($text, 20%);
}
::-webkit-scrollbar-thumb {
  background: $highlight;
}
::selection {
  background: lighten($text, 20%);
  color: $highlight;
}

body {
  font-family: $stack;
}

.App {
  margin: 0 auto;
  overflow-x: hidden;
  .darkmode {
    background: $text;
    color: white;
    a {
      color: lighten($text, 60%);
      &:hover {
        color: $highlight;
      }
    }
    .work {
      &:hover {
        p {
          color: $text;
        }
      }
    }
  }
}
